.formWrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.contactForm {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 50%;
	height: 100%;
	justify-content: center;
	margin-top: 5%;
	background: #5d4954;
	padding: 1%;
}
.error {
	font-size: 15px;
	color: red;
}
.contactForm input {
	border: none;
}

.contactForm textArea {
	min-height: 100px;
}

.contactForm label {
	display: flex;
	flex-direction: row;
	color: white;
}
.submitBtn {
	width: 80%;
	height: 20%;
	margin-left: 10%;
	margin-top: 2%;
	cursor: pointer;
	background: #846877;
	border: none;
	color: white;
	font-size: 18px;
}
/* mobile */

.mobileContactForm {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 90%;
	height: 65vh;
	justify-content: center;
	margin-top: 5%;
	background: #5d4954;
	padding: 5px;
}
.mobileContactForm textArea {
	height: 30vh;
}

.mobileContactForm label {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
}

.mobileSubmitBtn {
	width: 100%;
	height: 30px;
	margin: 0;
	cursor: pointer;
	background: #846877;
	border: none;
	color: white;
	font-size: 18px;
}

.mobileContactForm input {
	border: none;
}
