.pageContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.pageContentWrap {
	flex: 1;
}
.main {
}

.homeContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homeContainerBlock {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	max-width: 70vw;
	width: 1000px;
	padding: 10px;
	margin: 1vw;
	border: 2px solid #846877;
}

.homeImg {
	width: 30%;
}
.mobileHomeImg {
	width: 50%;
}
.homeContainerBlock p {
	width: 50%;
	padding: 5%;
}
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 8vh;
	background: #5d4954;
	height: 30px;
}

.navbarUl {
	display: flex;
	list-style: none;
	justify-content: space-around;
	width: 30%;
	white-space: nowrap;
	margin-right: 150px;
}

.navbar li {
	border-left: 1px solid #846877;
	border-spacing: 0px 5px;
	margin-right: 15px;
}

.navbar li a {
	color: white;
	text-decoration: none;
}
.navbar li a:hover {
	color: #dedadc;
}

.navbarLogoAnchor {
	color: white;
	text-decoration: none;
	margin-left: 15vw;
}
.navbarLogo {
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.chatContact {
	position: fixed;
	bottom: 5%;
	right: 5%;
	background: none;
	border: none;
}

/* ---FOOTER START--- */

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	background: #5d4954;
	color: white;
}
.footerRow {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #846877;
}
.footerCol {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-decoration: none;
}
.footerCol h4 {
	align-content: flex-start;
	margin: 0;
}

.footerCol ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.footerCol li {
	display: flex;
}
.footerCol li a {
	display: flex;
	color: white;
	text-decoration: none;
	border-left: 1px solid #846877;
	border-spacing: 0px 5px;
}
.footerCol li a:hover {
	color: #dedadc;
}

.footerBottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 15px;
}
/* ---FOOTER END--- */
/* @media (max-width: 1080px) {
	.navbar {
		max-height: 8vh;
	}

	.navbarUl {
		position: absolute;
		right: 0px;
		min-height: 35%;
		top: 8vh;
		flex-direction: column;
		background: #5d4954;
		margin: 0;
	}

	.footerMenu {
		display: none;
	}

	.footerRow {
		flex-direction: column;
		align-items: center;
	}
	.footerCol {
		margin-bottom: 20px;
	}
	.navbarUlHide {
		display: none;
	}
} */
